:root,
.light,
.light-theme {
  --teal-1: #fafefe;
  --teal-2: #f3fafb;
  --teal-3: #e4f6f9;
  --teal-4: #d3eff4;
  --teal-5: #c2e6ec;
  --teal-6: #aedae1;
  --teal-7: #95c9d2;
  --teal-8: #6fb3be;
  --teal-9: #32727c;
  --teal-10: #22646e;
  --teal-11: #33737d;
  --teal-12: #234044;

  --teal-a1: #00cccc05;
  --teal-a2: #0095aa0c;
  --teal-a3: #00aac71b;
  --teal-a4: #00a3c02c;
  --teal-a5: #0097b03d;
  --teal-a6: #008ba151;
  --teal-a7: #017e936a;
  --teal-a8: #00798c90;
  --teal-a9: #00505ccd;
  --teal-a10: #004c58dd;
  --teal-a11: #00505dcc;
  --teal-a12: #002226dc;

  --teal-contrast: #fff;
  --teal-surface: #f0f9facc;
  --teal-indicator: #32727c;
  --teal-track: #32727c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --teal-1: oklch(99.3% 0.004 209);
      --teal-2: oklch(98.1% 0.007 209);
      --teal-3: oklch(96% 0.02 209);
      --teal-4: oklch(93.4% 0.03 209);
      --teal-5: oklch(90.1% 0.039 209);
      --teal-6: oklch(85.8% 0.047 209);
      --teal-7: oklch(80.2% 0.056 209);
      --teal-8: oklch(72.5% 0.07 209);
      --teal-9: oklch(51.5% 0.067 209);
      --teal-10: oklch(46.6% 0.067 209);
      --teal-11: oklch(51.8% 0.067 209);
      --teal-12: oklch(35% 0.035 209);

      --teal-a1: color(display-p3 0.024 0.757 0.757 / 0.016);
      --teal-a2: color(display-p3 0.02 0.557 0.647 / 0.044);
      --teal-a3: color(display-p3 0.012 0.588 0.714 / 0.095);
      --teal-a4: color(display-p3 0.004 0.565 0.694 / 0.153);
      --teal-a5: color(display-p3 0.004 0.522 0.631 / 0.212);
      --teal-a6: color(display-p3 0.004 0.475 0.573 / 0.283);
      --teal-a7: color(display-p3 0.004 0.424 0.518 / 0.373);
      --teal-a8: color(display-p3 0 0.392 0.478 / 0.502);
      --teal-a9: color(display-p3 0 0.247 0.294 / 0.738);
      --teal-a10: color(display-p3 0 0.227 0.278 / 0.793);
      --teal-a11: color(display-p3 0 0.247 0.294 / 0.734);
      --teal-a12: color(display-p3 0 0.098 0.118 / 0.836);

      --teal-contrast: #fff;
      --teal-surface: color(display-p3 0.953 0.976 0.98 / 0.8);
      --teal-indicator: oklch(51.5% 0.067 209);
      --teal-track: oklch(51.5% 0.067 209);
    }
  }
}

.dark,
.dark-theme {
  --teal-1: #0a1314;
  --teal-2: #111b1d;
  --teal-3: #0f2c30;
  --teal-4: #07393f;
  --teal-5: #0f454d;
  --teal-6: #1b545d;
  --teal-7: #256770;
  --teal-8: #2d7e8a;
  --teal-9: #32727c;
  --teal-10: #22646e;
  --teal-11: #7ac8d5;
  --teal-12: #b7ebf4;

  --teal-a1: #0091d104;
  --teal-a2: #12d6fd0d;
  --teal-a3: #02dcfa22;
  --teal-a4: #00ddfc32;
  --teal-a5: #0addfd41;
  --teal-a6: #30e1fd52;
  --teal-a7: #43e8ff66;
  --teal-a8: #48e7ff82;
  --teal-a9: #5be9ff73;
  --teal-a10: #3de5ff64;
  --teal-a11: #91efffd2;
  --teal-a12: #bef5fef4;

  --teal-contrast: #fff;
  --teal-surface: #11252980;
  --teal-indicator: #32727c;
  --teal-track: #32727c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --teal-1: oklch(17.8% 0.013 209);
      --teal-2: oklch(21.3% 0.015 209);
      --teal-3: oklch(27.2% 0.035 209);
      --teal-4: oklch(31.5% 0.05 209);
      --teal-5: oklch(36.2% 0.056 209);
      --teal-6: oklch(41.3% 0.06 209);
      --teal-7: oklch(47.5% 0.067 209);
      --teal-8: oklch(54.9% 0.079 209);
      --teal-9: oklch(51.5% 0.067 209);
      --teal-10: oklch(46.6% 0.067 209);
      --teal-11: oklch(78.7% 0.079 209);
      --teal-12: oklch(90.7% 0.055 209);

      --teal-a1: color(display-p3 0 0.671 0.973 / 0.013);
      --teal-a2: color(display-p3 0.224 0.839 0.992 / 0.051);
      --teal-a3: color(display-p3 0.255 0.871 0.996 / 0.127);
      --teal-a4: color(display-p3 0.212 0.875 0.996 / 0.19);
      --teal-a5: color(display-p3 0.306 0.875 1 / 0.248);
      --teal-a6: color(display-p3 0.4 0.886 0.996 / 0.316);
      --teal-a7: color(display-p3 0.455 0.914 1 / 0.395);
      --teal-a8: color(display-p3 0.463 0.902 0.996 / 0.5);
      --teal-a9: color(display-p3 0.514 0.922 1 / 0.442);
      --teal-a10: color(display-p3 0.435 0.898 1 / 0.387);
      --teal-a11: color(display-p3 0.659 0.937 1 / 0.816);
      --teal-a12: color(display-p3 0.8 0.965 1 / 0.946);

      --teal-contrast: #fff;
      --teal-surface: color(display-p3 0.078 0.141 0.149 / 0.5);
      --teal-indicator: oklch(51.5% 0.067 209);
      --teal-track: oklch(51.5% 0.067 209);
    }
  }
}
